[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
types-requests = "*"
click = "*"
bibtextools = {editable = true, path = "."}

[dev-packages]
black = "*"
pytest = "*"
mypy = "*"
ipykernel = "*"
bibtextools = {editable = true, path = "."}
coverage = "*"

[requires]
python_version = "3"

[scripts]
test = "pytest"
